html, body {
    margin: 0;
    padding: 0;
}

p {
    padding: 10px;
}

#background {
    background-color: #000;
    background-image: url("../img/bg.png");
    background-position: center;
    background-size: cover;
    display: table;
    height: 100vh;
    width: 100%;
    
}

/* Container Styling */

#loginContainer * {
color: #fff;
font-family: Arial, Helvetica, sans-serif;
font-weight: normal;
line-height: 1em;
box-sizing: border-box;
padding-top:  10px;
padding-bottom: 10px;
}

#loginContainer {
    width: 80%;
    margin: 0 auto;
    position: relative;
    max-height: 1024px;
}

#inputContainer {
    width: 400px;
    padding: 50px;
    float: left;
    border-right: 1px solid #999;
    
}

#inputContainer h2 {
    text-align: center;
}

/* Form Label Styling */

#inputContainer label {
    color: #a0a0a0;
    font-size: 13px;
    margin-top: 15px;
    display: block;
}

/* Form Inputs Styling */

#inputContainer input[type="text"],
#inputContainer input[type="email"], 
#inputContainer input[type="password"] {
    display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    height: 27px;
    line-height: 27px;
    width: 100%;
    outline: none;
}

/* Form Inputs Placeholder Styling */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
  }

  /* Button Styling */

#inputContainer button {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 250px;
    color: #fff;
    display: block;
    font-size: 15px;   
    letter-spacing: 1px;
    margin: 20px auto;
    height: 40px;
    width: 100%;
  }

  #inputContainer button:hover {
    background-color: #28a745;
    border: none;
    cursor: pointer;
  }

/* Sign up/Login CTA */

  .hasAccountText {
    text-align: center;
  }

  .hasAccountText span {
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
  }

  #registerForm,
  #loginForm {
    display: none;
  }

  /* Content Styling */

  #loginText {
    padding: 50px;
    display: table-cell;
    
  }

  #loginText h1 {
    color: #28a745;
    font-size: 60px;
    font-weight: bold;
  }

  #loginText h2 {
    margin: 40px 0;
  }

  #loginText ul {
    padding: 0;
  }

  #loginText li {
    font-size: 20px;
    list-style-type: none;
    padding: 5px 30px;
  }

  #loginText li i {
    color: #28a745;
    background: #28a745;
  }

/* Error Message Styling */

  #inputContainer .errorMessage {
    color: #28a745;
    font-size: 12px;
    display: block;
  }