html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    letter-spacing: 1px;
}

body {
    background-color: #181818 !important;
    font-size: 14px !important;
    min-width: 720px !important;
}

/* Top Container Styling */

#topContainer {
    min-height: 100%;
    width: 100%;
}

/* Nav Styling */

#navbarContainer {
    background-color: #000;
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar {
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.group {
border-top: 1px solid #a0a0a0;
padding: 10px 0;
}

.navItem {
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    position: relative;
}

.navItemLink {
    color: #a0a0a0;
    text-decoration: none;
}

.navItemLink:hover {
    color: #fff;

}

/* Search Bar Styling */

.icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    color: #a0a0a0;
}


/* Now Playing Container Styling */

#nowPlayingBarContainer {
    width: 100%;
    background-color: #282828;
    bottom: 0;
    position: fixed;
    min-width: 620px;
  
    }

/* Playing Bar Styling */

#nowPlayingBar {
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

#nowPlayingLeft,
#nowPlayingRight {
    width: 30%;
    min-width: 180px;
}

#nowPlayingRight {
    position: relative;
    margin-top: 16px;
}

#nowPlayingCenter {
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nowPlayingBar .content {
    width: 100%;
}

/* Button Styling */

.playerControls .buttons {
    margin: 0 auto;
    display: table;
}

.controlBtn {
    background-color: transparent !important;
    color: #fff !important;
    border: none !important;
    vertical-align: middle !important;
    width: 20px !important;
    height: 20px !important;
    margin: 0 10px; 
    display: inline-block; 
}

/* Custom styles for the Play button */
.controlBtn.play span,
.controlBtn.pause span {
    width: 32px !important;
    height: 32px !important;
    font-size: 32px !important;
}

.controlBtn:hover {
    cursor: pointer;
}

.material-symbols-outlined {
    font-size: 32px !important;
}

/* Progress Bar Styling */

.playbackBar {
    display: flex;
    margin-top: 10px; 
}

.progressBar {
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
}

.progressBarBg {
    background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progressTime {
    color: #a0a0a0;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}

.progressTime {
    color: #a0a0a0;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
    }

.progress {
    background-color: #a0a0a0;
    height: 4px;
    width: 0;
    border-radius: 2px;
}

.playbackBar .progressBar {
    margin-top: 5px;
    height: 57px;
}

/* Artist Track Styling */

#nowPlayingLeft .albumArtWork {
    height: 100% !important;
    max-width: 57px !important;
    margin-right: 15px !important;
    float: left !important;
    background-size: cover !important;
}

.trackInfo {
    display: table;
}

#nowPlayingLeft .trackInfo .trackName {
    margin: 6px 0;
    display: inline-block;
    width: 100%;
}

#nowPlayingLeft .trackInfo .artistName span {
    font-size: 12px;
    color: #a0a0a0;
}

.volumeBar {
    width: 180px !important;
    position: absolute !important;
    right: 0 !important;
    }

.volumeBar .progressBar {
    width: 125px;
    margin-left: 10px;
}

.audioIcon {
    color: #a0a0a0;
}

#mainViewContainer {
    margin-left: 220px;
    padding-bottom: 90px;
    width: calc(100% - 220px);
}

#mainContent {
    padding: 0 20px;
}

/* Main Page Styling */

.pageHeadingBig {
    padding: 20px;
    text-align: center;
}

.gridViewContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gridViewItem {
    width: 29%;
    max-width: 200px;
    min-width: 150px;
    margin-bottom: 20px;
}

.gridViewItem img {
    width: 100%;
    height: 150px; 
    object-fit: cover; 
}

.gridViewItem a {
    text-decoration: none;
}

.gridViewInfo {
    font-weight: 300;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* Album Artwork Styling */

.entityInfo {
padding: 40px 0 10px 0;
  display: flex;
  flex-wrap: wrap;
    width: 100%;
}

.entityInfo .leftSection {
    width: 30%;
    float: left;
    max-width: 250px;
}

.entityInfo .leftSection img {
    width: 100%;
    height: 250px; 
    object-fit: cover; 

}

.entityInfo .rightSection {
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
}

.entityInfo .rightSection h2 {
    margin-top: 0;
}

.entityInfo .rightSection p {
    color: #939393 !important;
    font-weight: 200;
}

