html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}

/* Container Styling */

#nowPlayingBarContainer {
    width: 100%;
    background-color: #282828;
    bottom: 0;
    position: fixed;
    min-width: 620px;
  
    }

/* Playing Bar Styling */

#nowPlayingBar {
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

#nowPlayingLeft,
#nowPlayingRight {
    width: 30%;
    min-width: 180px;
}

#nowPlayingRight {
    position: relative;
    margin-top: 16px;
}

#nowPlayingCenter {
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nowPlayingBar .content {
    width: 100%;
}

/* Button Styling */

.playerControls .buttons {
    margin: 0 auto;
    display: table;
}

.controlBtn {
    background-color: transparent !important;
    color: #fff !important;
    border: none !important;
    vertical-align: middle !important;
    width: 20px !important;
    height: 20px !important;
    margin: 0 10px; 
    display: inline-block; 
}

/* Custom styles for the Play button */
.controlBtn.play span,
.controlBtn.pause span {
    width: 32px !important;
    height: 32px !important;
    font-size: 32px !important;
}

.controlBtn:hover {
    cursor: pointer;
}

.material-symbols-outlined {
    font-size: 32px !important;
}

/* Progress Bar Styling */

.playbackBar {
    display: flex;
    margin-top: 10px; 
}

.progressBar {
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
}

.progressBarBg {
    background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progressTime {
    color: #a0a0a0;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}

.progressTime {
    color: #a0a0a0;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
    }

.progress {
    background-color: #a0a0a0;
    height: 4px;
    width: 0;
    border-radius: 2px;
}

.playbackBar .progressBar {
    margin-top: 5px;
    height: 57px;
}

/* Artist Track Styling */

#nowPlayingLeft .albumArtWork {
    height: 100% !important;
    max-width: 57px !important;
    margin-right: 15px !important;
    float: left !important;
    background-size: cover !important;
}

.trackInfo {
    display: table;
}

#nowPlayingLeft .trackInfo .trackName {
    margin: 6px 0;
    display: inline-block;
    width: 100%;
}

#nowPlayingLeft .trackInfo .artistName span {
    font-size: 12px;
    color: #a0a0a0;
}

.volumeBar {
    width: 180px !important;
    position: absolute !important;
    right: 0 !important;
    
}

.volumeBar .progressBar {
    width: 125px;
    margin-left: 10px;

}
